@font-face {
  font-family: 'Dax-Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Italic"), url("../assets/font/dax-italic-5872e0c289d8d.woff") format("woff"); }

@font-face {
  font-family: 'Dax-Light';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Light"), url("../assets/font/dax-light-5872dfb3692b0.woff") format("woff"); }

@font-face {
  font-family: 'Dax-Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Medium"), url("../assets/font/dax-medium-5872e00270bc1.woff") format("woff"); }

@font-face {
  font-family: 'Dax-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-MediumItalic"), url("../assets/font/dax-mediumitalic-5872e0e8d95e8.woff") format("woff"); }

@font-face {
  font-family: 'Dax-Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Bold"), url("../assets/font/dax-bold-5872e03df1718.woff") format("woff"); }

@font-face {
  font-family: 'Dax-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-ExtraBold"), url("../assets/font/dax-extrabold-5872df5c91c89.woff") format("woff"); }

@font-face {
  font-family: 'Dax-Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Regular"), url("../assets/font/ufonts.com_dax-regular.woff") format("woff"); }
